@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

@section NavbarLinks {
}
@section MobileNavbarLinks {
}

<h1>Hello</h1>
<div id="abc"></div>

@section Scripts {
  <script type="text/x-template" id="index-component">
    <p>{{title}}</p>
  </script>
  <script type="text/javascript" src="~/js/pages/index.js"></script>
}